/.bash_history
/.bash_logout
/.bashrc
/.cache
/.conda
/.config
/.dotnet
/.ipython
/.local
/.profile
/.python_history
/.shell_script_SIR_SF_SW.sh.swp
/.shell_script_SIR_SF_SW.swp
/.ssh
/.viminfo
/.vscode-server
/.wget-hsts
/ER_2_SIR.pkl
/bcms_network.pkl
/install-tl-20240916
/test.ipynb
/test.py